.main-layout-container {
}

.panel-row-container {
    height: calc(100vh - 57px) !important;
}

.panel-column-container {
}

.left-panel-container {
    height: calc(100vh - 57px) !important;
}

.main-panel-container {
    box-shadow: 0 10px 36px rgba(98, 97, 97, 0.25),
        0 10px 20px rgba(98, 97, 97, 0.25);
    height: calc(100vh - 57px) !important;
}

.right-panel-container {
    height: calc(100vh - 57px) !important;
}

.main-dashboard-button {
    font-size: 13px;
    padding: 5px;
    margin-top: -8px;
    margin-right: -10px;
    font-weight: 500;
    color: white;
}

.button-add-expense {
    background-color: rgb(255, 119, 0);
    border-color: rgb(255, 119, 0);
}

.button-settle-up {
    background-color: rgb(0, 186, 124);
    border-color: rgb(0, 186, 124);
}

.button-add-expense:hover {
    background-color: rgb(255, 183, 0) !important;
    border-color: rgb(255, 183, 0) !important;
    color: white !important;
}

.button-settle-up:hover {
    background-color: rgb(45, 251, 183) !important;
    border-color: rgb(45, 251, 183) !important;
    color: white !important;
}
