.sum-up-content {
    text-align: center;
    line-height: 6px;
    color: rgb(173, 173, 173);
    padding-top: 12px;
    font-weight: 400;
    font-size: 15px;
}

.sum-up-amount-owe {
    color: rgb(255, 134, 28);
}

.sum-up-amount-owed {
    color: rgb(255, 134, 28);
}

.sum-up-amount-total {
    color: rgb(173, 173, 173);
}

