.group-right-panel-header {
    padding: 21px 10px 5px;
    color: rgb(19, 226, 157);
    min-height: 57px;
    font-weight: 600;
    font-size: 17px;
}

.p-fullname {
    font-weight: 500;
    color: rgb(101, 101, 101);
    font-size: 15px;
}

.p-email {
    color: rgb(186, 187, 187);
    font-size: 13px;
}

.debt-info {
    color: rgb(186, 187, 187);
    font-size: 11px;
    font-weight: 600;
}

.orange {
    color: rgb(255, 119, 0);
}

.green {
    color: rgb(0, 186, 124);
}

.blue {
    color: rgb(159, 190, 248);
}
